<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Bam x Sample app</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
	<link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="bower_components/jquery-ui/themes/base/all.css">
	<link rel="stylesheet" href="bower_components/jquery-ui/themes/base/datepicker.css">
	<link rel="stylesheet" href="app.css">
	<script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body ng-controller="MainCtrl">
	<nav>
		<div class="date-selection">
			<div class="start">
				<button type="button" class="btn btn-default" ng-click="startOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="startDate" is-open="startOpened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
				<label for="startDate" class="value">{{startDate | date : "MMMM d"}}</label>
			</div> 
			through 
			<div class="end">
				<button type="button" class="btn btn-default" ng-click="endOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="endDate" is-open="endOpened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
				<label for="endDate" class="value">{{endDate | date : "MMMM d"}}</label>
			</div>
		</div>
		<ul class="menu">
			<li ng-repeat="(brand,data) in brands"><a href="#/report/{{brand}}">{{data.name}}</a></li>
			<li><a href="#/report/stacked"><i class="glyphicon glyphicon-screenshot"></i> All Stacked</a></li>
			<li><a href="#/report/combined"><i class="glyphicon glyphicon-screenshot"></i> All Combined</a></li>
		</ul>
		<div class="budget">
			<div class="alert alert-danger" role="alert" ng-show="spendingAlert()">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				Your spending is exceeding budget!
			</div>
			<div class="input-fields">
				<label for="spendLimit">Your spend limit ($):</label>
				<input ng-model="spend" id="spendLimit" type="text">
			</div>
			<div class="progress">
			  <div class="progress-bar {{budgetProgressClass()}}" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{spendingPercentage()}}%;">
			    <span class="sr-only">{{spendingPercentage()}} Complete</span>
			  </div>
			</div>
			<div class="budget-value">{{spend | currency}} / {{budget | currency}}</div>
		</div>

	</nav>

	<!--[if lt IE 7]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<main>
		<div ng-view></div>
		<footer>Bam x Sample project v<span app-version></span></footer>
	</main>

	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script src="app.js"></script>
	<script src="report/report.js"></script>
	<script src="components/version/version.js"></script>
	<script src="components/version/version-directive.js"></script>
	<script src="components/version/interpolate-filter.js"></script>
	<script src="components/google-charts/ng-google-chart.js"></script>
</body>
</html>
