<div id="login" class="questionaire">
	<div class="row">
		<div class="prefix">email</div>
		<div class="input-box">
			<input type="text" ng-model="user.email" placeholder="scarlett.johanson@gmail.com" inputfocus>
		</div>
	</div>

	<div class="row">
		<div class="prefix">password</div>
		<div class="input-box">
			<input type="text" ng-model="user.password" placeholder="******" inputfocus>
		</div>
	</div>

	<div class="row">
		<button type="submit" class="cta submit" ng-click="signIn()">Let me in</button>
	</div>
</div>