<div id="signup" class="questionaire">
	<div class="row">
		<div class="prefix">My name is</div>
		<div class="input-box" ng-class="{'has-value': user.name}">
			<input type="text" ng-model="user.name" placeholder="John Doe" inputfocus>
		</div>
	</div>

	<div class="row">
		<div class="prefix">I am/we are</div>
		<div class="input-box">
			<select ng-model="user.gender" inputfocus>
				<option>a girl</option>
				<option>a guy</option>
				<option>a couple</option>
				<option>a group of friends</option>
				<option>other</option>
			</select>
		</div>
	</div>

	<div class="row">
		<div class="prefix">Looking for</div>
		<div class="input-box">
			<select ng-model="user.lookingForGender" inputfocus>
				<option>any</option>
				<option>a girl</option>
				<option>a guy</option>
				<option>a couple</option>
				<option>a group of friends</option>
			</select>
		</div>
	</div>

	<div class="row">
		<div class="prefix">My phone #</div>
		<div class="input-box">
			<input type="telephone" ng-model="user.phone" placeholder="347-123-4567" inputfocus>
		</div>
	</div>

	<div class="row">
		<button type="submit" class="cta submit" ng-click="validateUser()">Let me in</button>
	</div>
</div>